.new-collection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


.new-collection h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collection hr {
    width: 200px;
    height: 2px;
    border-radius: 10px;
    background: #515050;
}