/* styles.css or your component's CSS file */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1.5;
    }
}

.haha {
    animation: blink 0.8s infinite;
}